<!DOCTYPE html>
<html lang="en">

<head>
    <title>Examination</title>
    <link rel="stylesheet" href="../CSS/Main.css">
    <link rel="stylesheet" href="../CSS/Exam.css">
</head>

<body>
    <div class="container">
        <div class="info">
            <p>info about exam and time starts </p>
        </div>
        <div class="questions">
            <form>

                <p>Please select your favorite Web language:</p>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>


                <p>Please select your age:</p>
                <input type="radio" id="age1" name="age" value="30">
                <label for="age1">0 - 30</label><br>
                <input type="radio" id="age2" name="age" value="60">
                <label for="age2">31 - 60</label><br>
                <input type="radio" id="age3" name="age" value="100">
                <label for="age3">61 - 100</label><br><br>
                <input type="submit" value="Submit" class="btn">

            </form>
        </div>

    </div>
</body>

</html>