<!DOCTYPE html>
<html lang="en">

<head>
    <title>Examination</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../CSS/Main.css">
    <link rel="stylesheet" href="../CSS/Exam.css">
</head>

<body>
    <div class="container" style="text-align: center;">
        <div class="info">
            Instrucotor
            <%= username%>
        </div>
        <div class="info">
            <a href="/loggout">
                <i class='fa fa-sign-out'></i>
            </a>
        </div>
    </div>
</body>

</html>